@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
body {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
}

.header__logo-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #3cbfff;
  padding-top: 3vh;
  margin-bottom: 0;
}
.header__logo-nav__img {
  margin-bottom: 15vh;
  padding-bottom: -30vh;
  padding-left: 13vw;
  width: 12vw;
  height: auto;
}
.header__navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  margin-top: 0vh;
}
.header__navbar ul li {
  padding-right: 3vw;
}
.header__navbar ul a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.3vw;
  color: #FFFFFF;
}
.header__navbar ul .header__navbar__contact {
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: #24303E;
  background-color: #FFFFFF;
  padding: 1vw 2vw 1vw 2vw;
  border-radius: 10em;
  cursor: pointer;
}
.header__navbar ul .header__navbar__contact:hover {
  color: white;
  background-color: #89d8ff;
}
.header__navbar__img {
  display: none;
}
.header__titles {
  background-color: #3cbfff;
  background-image: url(images-css/image-header.jpg);
  background-repeat: no-repeat;
  background-size: 90vw 50vw;
  background-position: bottom;
  margin-top: 0;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vw;
}
.header__titles h1 {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-size: 3.8vw;
  font-weight: 900;
  margin: 0;
  letter-spacing: 1vh;
  padding-bottom: 10vh;
}
.header__titles__arrow {
  position: absolute;
  top: 47vh;
}

.main {
  background-color: #F2F2F2;
}
.main__4section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main__img-egg {
  background-image: url(images-css/image-transform.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  height: 80vh;
  order: 2;
}
.main__img-glass {
  background-image: url(images-css/image-stand-out.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 50vw;
  height: 80vh;
  order: 3;
}
.main__section1 {
  text-align: left;
}
.main__section1__txt1 {
  width: 50vw;
  height: 80vh;
  order: 1;
  padding: 0;
}
.main__section1 h2 {
  font-family: "Fraunces", serif;
  color: #24303E;
  font-size: 3.5vw;
  font-weight: 900;
  padding: 5vh 5vw 0vh 8vw;
}
.main__section1__par1 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 1.5vw;
  color: #808397;
  line-height: 5vh;
  padding: 0vh 5vw 5vh 8vw;
}
.main__section1__txt2 {
  width: 50vw;
  height: 80vh;
  order: 4;
  padding: 0;
}
.main__section1__par2 {
  font-family: "Fraunces", serif;
  color: #24303E;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  padding: 0vh 5vw 5vh 8vw;
}
.main__section1__par2--underlined1::before, .main__section1__par2--underlined2::before {
  content: "";
  display: block;
  position: absolute;
  top: 2.5vh;
  left: 7vw;
  width: 11vw;
  height: 1vh;
  background: #FAD400;
  border-radius: 20%;
  opacity: 0.4;
}
.main__section1__par2--underlined2::before {
  background: #FE7766;
}
.main__section2--back1 {
  width: 50vw;
  height: 80vh;
  order: 5;
}
.main__section2--back2 {
  width: 50vw;
  height: 80vh;
  order: 5;
}

.footer {
  background-color: #90D4C6;
  width: auto;
  height: 50vh;
}
.footer__img {
  display: flex;
  justify-content: center;
  padding-top: 8vh;
}
.footer__img--transform {
  width: 40vw;
  height: auto;
}
.footer__nav {
  margin-left: 0vw;
  margin-top: 8vh;
  margin-bottom: 8vh;
}
.footer__nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer__nav ul a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 4.5vw;
  color: #458D7E;
}
.footer__nav__contact {
  display: none;
}
.footer__icons {
  display: flex;
  justify-content: center;
  padding-bottom: 15vh;
}
.footer__icons img {
  margin-right: 8vw;
}/*# sourceMappingURL=desktop.css.map */