@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
body {
  width: 100%;
  height: 100%;
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.header__logo-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #3cbfff;
  padding-top: 5vh;
  margin-bottom: 0;
  margin-left: -10vw;
}
.header__logo-nav__img {
  margin-bottom: 15vh;
  padding-bottom: -30vw;
  width: 35vw;
  height: auto;
}
.header__navbar ul {
  display: none;
}
.header__navbar img {
  margin-right: -10vw;
}
.header__titles {
  background-image: url(images-css/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__titles h1 {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  font-size: 10vw;
  font-weight: 900;
  margin: 0;
  letter-spacing: 1vh;
  padding-bottom: 10vh;
}
.header__titles__arrow {
  position: absolute;
  top: 53vh;
}

.main {
  background-color: #F2F2F2;
}
.main__img-egg {
  background-image: url(images-css/image-transform.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}
.main__section1 {
  text-align: center;
  padding-top: 6vh;
  padding-left: 12vw;
  padding-right: 12vw;
  width: auto;
  height: 70vh;
}
.main__section1 h2 {
  font-family: "Fraunces", serif;
  color: #24303E;
  font-size: 8vw;
  font-weight: 900;
  margin-bottom: 8vh;
}
.main__section1__par1 {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 4.5vw;
  color: #808397;
  margin-bottom: 8vh;
  line-height: 5vh;
}
.main__section1__par2 {
  font-family: "Fraunces", serif;
  color: #24303E;
  font-weight: 900;
  margin-bottom: 8vh;
  text-transform: uppercase;
  position: relative;
}
.main__section1__par2--underlined1::before, .main__section1__par2--underlined2::before {
  content: "";
  display: block;
  position: absolute;
  top: 2.5vh;
  left: 20vw;
  width: 35vw;
  height: 1vh;
  background: #FAD400;
  border-radius: 20%;
  opacity: 0.4;
}
.main__section1__par2--underlined2::before {
  background: #FE7766;
}
.main__img-glass {
  background-image: url(images-css/image-stand-out.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 50vh;
}
.main__section2 {
  width: auto;
  height: 80vh;
  padding-left: 12vw;
  padding-right: 12vw;
  padding-bottom: 5vh;
}
.main__section2 h2 {
  font-family: "Fraunces", serif;
  color: #24554A;
  font-size: 7vw;
  font-weight: 900;
  text-align: center;
  margin-top: 0;
  padding-top: 55vh;
}
.main__section2 p {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 4vw;
  color: #24554A;
  text-align: center;
  line-height: 4vh;
}
.main__section2--back1 {
  background-image: url(images-css/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main__section2--back2 {
  background-image: url(images-css/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main__article {
  text-align: center;
  padding-left: 12vw;
  padding-right: 12vw;
  width: auto;
  height: 180vh;
}
.main__article h2 {
  font-family: "Fraunces", serif;
  color: #A7AAAD;
  font-size: 4vw;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1vw;
  padding-top: 5vh;
}
.main__article__img--transform {
  margin-top: 4vh;
  margin-bottom: -4vh;
  border-radius: 50%;
  transform: scale(0.5);
}
.main__article__clients {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 4.5vw;
  color: #5B636D;
  margin-bottom: 3vh;
  line-height: 4vh;
}
.main__article__clients__name {
  font-family: "Fraunces", serif;
  color: #24303E;
  font-size: 4.5vw;
  font-weight: 900;
  margin-bottom: 1vh;
}
.main__article__clients__job {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 3.5vw;
  color: #A7AAAD;
  margin-top: 0;
}
.main__end {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.main__end__img--transform {
  width: 50vw;
  height: auto;
}

.footer {
  background-color: #90D4C6;
  width: auto;
  height: 50vh;
}
.footer__img {
  display: flex;
  justify-content: center;
  padding-top: 8vh;
}
.footer__img--transform {
  width: 40vw;
  height: auto;
}
.footer__nav {
  margin-left: 0vw;
  margin-top: 8vh;
  margin-bottom: 8vh;
}
.footer__nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer__nav ul a {
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  font-size: 4.5vw;
  color: #458D7E;
}
.footer__nav__contact {
  display: none;
}
.footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15vh;
  padding: 0;
}
.footer__icons__facebook {
  background-image: url(images-css/iconsvert/icon-facebook.svg);
  width: 10vw;
  height: 3vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.footer__icons__instagram {
  background-image: url(images-css/iconsvert/icon-instagram.svg);
  width: 10vw;
  height: 3vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.footer__icons__twitter {
  background-image: url(images-css/iconsvert/icon-twitter.svg);
  width: 10vw;
  height: 3vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.footer__icons__pinterest {
  background-image: url(images-css/iconsvert/icon-pinterest.svg);
  width: 10vw;
  height: 3vh;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}/*# sourceMappingURL=mobile.css.map */